<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sondages</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
</head>
<header th:replace="~{fragment-header :: header}">
    <h1>Votez pour vos propositions préférées</h1>


</header>
<body>
<a href="/admin/createUser">Créer un nouvel utilisateur</a>
<div id="header">
    <button id="btn-refresh-pollings" class="btn btn-ok">Rafraîchir</button>&nbsp;
    <th:block th:replace="~{fragment-pagination :: pagination(page=${page},pageCount=${pageCount})}"></th:block>
</div>

<div th:replace="~{fragment-form :: new-sondage (newSondage=${newSondage})}"></div>

<div id="sondages" th:fragment="all-sondages">
    <th:block th:each="sondage : ${sondages}">
        <div th:replace="~{fragment-sondage :: single-sondage(sondage=${sondage})}"></div>
    </th:block>
</div>

<script src="../static/sondages.js" th:src="@{/sondages.js}" type="module"></script>

<a href="/login" class="myButton">Se connecter</a>
<a href="/inscription" class="myButton">Créer un compte</a>
</body>
</html>